<div class="container" layout="row" flex>
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp" md-component-id="left">
        <md-list ng-click="vm.toggleLessonList()">
            <md-list-item>
                <select ng-model="vm.selParty">
                    <option value="all" selected>All</option>
                    <option value="D">Democrat</option>
                    <option value="R">Republican</option>
                </select>
            </md-list-item>
            <md-list-item ng-repeat="s in vm.senators | orderBy : 'state'" ng-show="vm.party(s.party)">
                <a class="md-button" id="btn" ng-click="vm.selectSenator(s); vm.setActive(s, vm.senators)" ng-class="{active: s.active, 'republican': s.party == 'R', 'democrat': s.party == 'D'}" on-load-clicker index="$index"><img ng-src="assets/img/senators/{{s.id}}.jpg" alt="" class="ph-image"> {{s.first_name + " " + s.last_name + "("+s.party+"-"+s.state+")"}}</a>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <md-content id="content" flex ng-class="{'repub': vm.selected.party == 'R', 'demo': vm.selected.party == 'D'}">
        <content selected="vm.selected" votes="vm.votes" gettingvotes="vm.gettingvotes" votestoday="vm.votestoday"></content>
    </md-content>
   
</div>
